body {
    font-family: sans-serif;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.codeItem {
    background-color: black;
    color: white;
    font-family: monospace;
    width: 50%;
}

#wrapper {
    width: 100%;
}

#allCodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#warning {
    position: absolute;
    visibility: hidden;
    top: -45px;
}

#warning:hover {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    #wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}