body {
    font-family: sans-serif;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.codeItem {
    position: relative;
    background-color: black;
    color: white;
    font-family: monospace;
    width: 50%;
    right: 0;
    top: 0;
    transition: 0.5s;
}

.codeItem:nth-of-type(1):hover {
    position: relative;
    right: 3px;
    top: -3px;
    transition: 0.5s;
}

.codeItem:hover {
    transition: 0.5s;
    background-color: #FF6666;
}

#wrapper {
    width: 100%;
}

#allCodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}

#warning {
    position: relative;
    display: none;
}

#warningIcon {
    border-bottom: 1px dotted #FFF;
}

@media screen and (min-width: 768px) {
    #wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}